<div class="chat-content">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Pimp my chat</mat-card-title>
      <mat-card-subtitle>Dojo Kiabi By Ludovic Goldak <button (click)="change()"></button></mat-card-subtitle>
    </mat-card-header>
    <app-console-chat></app-console-chat>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Utilisateurs</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <app-user-list></app-user-list>
  </mat-card>
</div>
