<div class="login-content">
  <div class="form">
    <div class="flags_temp">
      <h3>CONNEXION</h3>
      <!--<img *ngFor="let flag of flags" [src]="'assets/imgs/flags/'+ flag +'.png'" alt="flag"/>-->
    </div>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" id="login-form" name="f" role="form">
      <span *ngIf="error && error != ''" class="error">{{error}}</span>
      <input [ngClass]="{'red-border': showError}"
             autofocus="autofocus"
             id="username" name="username"
             ngModel
             placeholder="Nom de compte"
             required="required"
             type="text"/>
      <div class="password-container">
        <div (mousedown)="showPassword()" (mouseup)="hidePassword()"
             (touchend)="hidePassword()"
             (touchstart)="showPassword()"
             class="eye-container"
             id="eye">
          <img alt="eye icon" src="assets/icon/eye.png"/>
        </div>
        <input #password
               [ngClass]="{'red-border': showError}"
               id="password"
               name="password"
               ngModel
               placeholder="Mot de passe"
               required="required"
               type="password"/>
      </div>
      <button id="login-btn" ng-summit type="submit">login</button>
    </form>
    <nav routerLinkActive="active"><a class="other-label" routerLink="/signup" routerLinkActive="active">Inscription</a>
    </nav>
  </div>
</div>
<footer class="row" id="footer">
  <p>Copyright © Kiabi - {{ version }} - <span class="digilab">With Love By Digital Lab</span></p>
</footer>
